<ion-view ng-controller="LoginCtrl">
  <ion-header-bar class="bar-stable bar-positive">    
    <h1 class="title">Doctor Appointment</h1>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader bar-calm"><h2 class="title">Login</h2></ion-header-bar>
  <ion-content class="has-subheader">
      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-locked"></i>
          Authentication
        </div>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username" placeholder="Username"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" placeholder="Passsword"/>
        </label>
        <!-- <label class="item item-input item-select">
          <span class="input-label">Login as</span>
          <select ng-model="user.category">
            <option value="">Choose Me</option>
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
          </select>
        </label> -->
        <label class="item">
          <button class="button button-outline button-positive button-block" ng-click="doLogin( user )">Log in</button>
          <spinner name="booksSpinner123" img-src="../img/spinner.gif"> Please Wait....</spinner>
        </label>
      </div>
      <span style="margin-top:-13px;margin-left:20px">No account? Register <a ng-href='#/register'>here</a></span>
  </ion-content>
</ion-view>

