<ion-view ng-controller="Register_ctrl">
  <ion-header-bar class="bar-stable bar-positive">
    <a class="button icon-left ion-arrow-left-c button-clear button-light button-small" ng-click="backToPage()"></a>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" placeholder="Password">
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="user.name" placeholder="Name">
        </label>
        <label class="item item-input">
          <span class="input-label">Ic</span>
          <input type="text" ng-model="user.ic" placeholder="Ic">
        </label>
        <label class="item item-input">
          <span class="input-label">Gender</span>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="user.gender" uib-btn-radio="'Male'">Male</label>
            <label class="btn btn-primary" ng-model="user.gender" uib-btn-radio="'Female'">Female</label>
          </div>
        </label>
        <label class="item item-input">
          <span class="input-label">Address</span>
          <input type="text" ng-model="user.address" placeholder="Address">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Register as</span>
          <select ng-model="user.category">
            <option value="">Choose Me</option>
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
          </select>
        </label>
        <label class="item">
          <button class="button button-outline button-positive button-block" ng-click="doRegister( user )">
            Register Now
          </button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-view>

